.main {
    width: 100%;
    background-color: #F3F5F6;
}

header {
    height: 158px;
    border-bottom: 1px solid #EAEAEA;
}

header .header__top {
    height: 38px;
    background-color: #1FB5D4;
    display: flex;
}

header .header__top .header__top-slogan {
    margin: auto;
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 300;
}

header .header__mid {
    height: 42px;
    display: flex;
    margin: 1.5rem auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 75%;
}

.bars {
    display: none;
}

.navbar-rpsive {
    display: none;
}

header .header__mid .header__mid-left {
    display: flex;
    width: 65%;
    flex-wrap: nowrap;
    align-items: center;
}

.header__mid-left .header__mid-left-name {
    width: 20%;
}

.header__mid-left .header__mid-left-name .header__mid-left-link {
    font-size: 3rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 42px;
}

.header__mid-left .header__mid-left-search {
    width: 80%;
    padding: 0 2rem;
    position: relative;
}

.header__mid-left-search .header__mid-left-iconinput {
    position: relative;
    width: 100%;
}

.header__mid-left .header__mid-left-search .header__mid-left-input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #EAEAEA;
    outline: none;
    font-size: 15px;
    border-radius: 2px;
}

.result_search {
    position: absolute;
    top: 45px;
    left: 21px;
    width: 94.6%;
    filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.12));
    background-color: white;
    z-index: 2;
}

.result_search .content__search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
    border-bottom: 1px dotted #dfe0e1;
}

.result_search .content__search:hover {
    background-color: rgb(246, 246, 246);
    cursor: pointer;
}

.result_search .content__search:hover span {
    color: red;
}

.result_search .content__search:hover a {
    color: var(--main-color);
}

.content__search .content__search-name a {
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    float: left;
    width: 100%;
    margin-bottom: 4px;
    font-weight: 600;
}

.content__search-name span {
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
    float: left;
    margin: 0;
}

.result_search .content__search .content__search-img {
    width: 7%;
}

.content__search-img img {
    width: 100%;
}

.content__search-img img:nth-child(2) {
    display: none;
}

.header__mid-left .header__mid-left-search .header__mid-left-input:focus {
    border-color: var(--main-color);
}

.header__mid-left-search .header__mid-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    line-height: 39px;
    text-align: center;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 20px;
}

header .header__mid .header__mid-right {
    display: flex;
    align-items: center;
    width: 35%;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.header__mid-right .header__mid-box-icon {
    display: flex;
    align-items: center;
}

.header__mid-right .header__mid-right-icon .header__mid-right-icon-item {
    width: 25px;
    margin-right: 1rem;
}

.header__mid-right .header__mid-box-icon .header__mid_right-text {
    font-size: 1.4rem;
    position: relative;
}

.header__mid_right-text a.login-link {
    text-decoration: none;
    color: var(--black-color);
    cursor: pointer;
    display: block;
}


/* login form */

.header__mid_right-text .login__form {
    top: 48px;
    right: 0;
    position: absolute;
    width: 348px;
    background-color: var(--white-color);
    z-index: 2;
    border-radius: 0.2rem;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.12);
    display: none;
    padding: 2rem 1.5rem;
    user-select: none;
    animation: scaleShow ease-in .3s;
    transform-origin: calc(100% - 8rem) top;
}

.login__form.showLoginform {
    display: block;
}

.moveToplabel {
    transform: translateY(-1.4rem);
    font-size: 1.1rem !important;
    transition: all ease-out .2s;
}

@keyframes scaleShow {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header__mid_right-text .login__form::after {
    display: block;
    content: "";
    position: absolute;
    top: -8px;
    right: 63px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid var(--white-color);
    z-index: 0;
    filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.12));
}

.login__form .site_account_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site_account_title h2 {
    margin-bottom: 0.4rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #0975f5;
    text-transform: uppercase;
}

.site_account_title p {
    margin-bottom: 1rem;
    line-height: 2.1rem;
    font-size: 1.2rem;
    color: #677279;
}

.form__input-wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 1.2rem;
}

.form__input-wrapper input.form__field {
    padding: 2rem 1rem 0.3rem;
    width: 100%;
    outline: none;
    border-radius: 0.2rem;
    border: 1px solid #EAEAEA;
    color: #1e2d7d;
}

.form__input-wrapper .form__floating-label {
    position: absolute;
    top: 0;
    left: 1rem;
    line-height: 4.5rem;
    font-size: 1.2rem;
    color: #677279;
    font-weight: 600;
}

.login__form .sitebox__recaptcha {
    width: 100%;
    margin-bottom: 1.2rem;
    color: #9e9e9e;
    font-size: 13px;
    text-align: left;
}

.login__form .sitebox__recaptcha p a {
    text-decoration: none;
    color: #0975f5;
}

.login__form button.form__submit {
    color: var(--white-color);
    width: 100%;
    border: 1px solid #0975f5;
    border-radius: 0.2rem;
    padding: 1rem 2.8rem;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #0975f5;
    -webkit-transition: linear 0.4s;
    -moz-transition: linear 0.4s;
    transition: linear 0.4s;
    text-transform: uppercase;
    background-color: #0975f5;
    margin-bottom: 1.2rem;
}

.login__form button.form__submit:hover {
    box-shadow: inset 400px 0 0 0 var(--white-color);
    color: var(--black-color);
}

.login__form .site__account-secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #677279;
}

.site__account-secondary p:first-child {
    margin-bottom: 1.2rem;
}

.site__account-secondary p a {
    text-decoration: none;
    color: #00BADB;
}


/* lognin form end */


/* register form */

.registerForm {
    position: fixed;
    top: 200px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    width: 25%;
    height: 600px;
    margin: 0 auto;
    z-index: 2;
    border-radius: 0.2rem;
    padding: 3rem 6rem;
    font-size: 2rem;
    filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.12));
    animation: scaleShow ease-in .3s;
    display: none;
}


/* validation label */

.error {
    color: red;
}

#register_link {
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
    display: none;
    animation: fadein ease-out .3s;
}

.showOverlay {
    display: block;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.registerForm .form__input-wrapper label {
    font-size: 1.5rem;
}

.showRegisterform {
    display: block;
}

form.adminlogined {
    position: absolute;
    top: 30px;
    right: 0;
    width: 150px;
    background-color: white;
    filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.12));
    z-index: 2;
    display: none;
    animation: showkeyadmin ease-out .2s;
    transform-origin: calc(100% - 3.5rem) top;
}

form.adminlogined.showKeyAdmin {
    display: block;
}

@keyframes showkeyadmin {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

form.adminlogined::before {
    display: block;
    content: "";
    position: absolute;
    top: -6px;
    right: 25px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 6px solid var(--white-color);
    z-index: 0;
    filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.12));
}

.adminlogined button {
    width: 100%;
    outline: none;
    border: none;
    line-height: 3rem;
    text-align: start;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: var(--white-color);
}

.adminlogined button:hover {
    color: var(--main-color);
}

.adminlogined button a:hover {
    color: var(--main-color);
}

.adminlogined button i {
    font-size: 1.9rem;
    padding-right: 2rem;
}

.adminlogined button i.fa-sign-out-alt {
    padding-right: 2.2rem;
    padding-left: 0.4rem;
}

.adminlogined button:last-child {
    margin-top: 0.2rem;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

.link__admin {
    width: 100%;
    outline: none;
    border: none;
    line-height: 3rem;
    text-align: start;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: var(--white-color);
}

.link__admin i {
    padding-right: 2.2rem;
    padding-left: 0.4rem;
    font-size: 1.6rem;
}

.link__admin:hover {
    color: var(--main-color);
}

.closeLogoutform {
    position: absolute;
    top: 4px;
    right: 12px;
    cursor: pointer;
}

.registerForm button.form__submit {
    color: var(--white-color);
    width: 100%;
    border: 1px solid #0d68d8;
    border-radius: 0.2rem;
    padding: 1rem 2.8rem;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #0f3f7a;
    -webkit-transition: linear 0.4s;
    -moz-transition: linear 0.4s;
    transition: linear 0.4s;
    text-transform: uppercase;
    background-color: #0975f5;
    margin-bottom: 1.2rem;
}

.registerForm button.form__submit:hover {
    box-shadow: inset 100% 0 0 0 var(--white-color);
    color: var(--black-color);
}


/* register form end */

.header__mid-right .header__mid-box-icon .header__mid_right-text .arrow-down {
    color: var(--text-color);
    margin-left: 5px;
    font-size: 12px;
}

.link-cart {
    text-decoration: none;
    color: var(--black-color);
    position: relative;
}


/* cart mini header */

.cart__mini {
    position: absolute;
    top: 40px;
    right: 0;
    width: 450px;
    background-color: var(--white-color);
    z-index: 2;
    border-radius: 0.2rem;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.12);
    padding: 2rem 1.5rem;
    user-select: none;
    animation: scaleShow ease-in .3s;
    transform-origin: calc(100% - 3.2rem) top;
    display: none;
}

.showCartMini {
    display: block;
}

.cart__mini::before {
    display: block;
    content: "";
    position: absolute;
    top: -8px;
    right: 20px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 10px solid var(--white-color);
    z-index: 2;
    filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.12));
}

.cart__mini .title-bold {
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 0 20px;
    font-weight: 600;
    color: #0975f5;
    padding-bottom: 8px;
    border-bottom: 1px solid #ececec;
    letter-spacing: 1px;
}

#cart-view {
    width: 100%;
}

.cart-scroll {
    max-height: 400px;
    overflow-y: auto;
}

.purchase_btn {
    width: 95%;
    margin-top: 2rem;
    display: block;
    padding: 18px 0;
    border-radius: 1px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    border: 1px solid #fff;
    color: var(--white-color);
    cursor: pointer;
    background-color: #0975f5;
    box-shadow: inset 0 0 0 0 #0975f5;
    transition: ease-in-out 0.5s;
}

.purchase_btn:hover {
    box-shadow: inset 210px 0 0 0 var(--white-color);
    color: var(--black-color);
    border: 1px solid #0975f5;
}


/* .message_actions {
    position: absolute;
    top: 148px;
    right: 25px;
    width: 220px;
    padding: 1.3rem 0;
    background-color: #FFFFFF;
    border-left: 5px solid #FFC107;
    display: flex;
    align-items: center;
    border-radius: 2px 0 0 2px;
    animation: showNotifi ease 0.5s;
}

.message_actions.show {
    display: block;
}

.message_actions i {
    padding-left: 1rem;
    color: #FFC107;
}

.message_actions p {
    padding-left: 1rem;
    color: #837979;
    font-size: 1.5rem;
}

@keyframes showNotifi {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
} */


/* width */

::-webkit-scrollbar {
    width: 3px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #676767;
}

.cart_mini_tr {
    vertical-align: top;
}

.cart_mini_img {
    width: 20%;
}

.cart_mini_img img {
    width: 100%;
}

.img__product-2 {
    display: none;
}

.img__product-3 {
    display: none;
}

.img__product-4 {
    display: none;
}

.cart_mini_name {
    width: 60%;
    padding-left: 2rem;
}

.cart_mini_price {
    width: 20%;
    text-align: end;
}

.table-total {
    width: 100%;
    border-top: 1px solid #ececec;
    padding: 10px 0;
}

.text-left {
    text-align: left;
    font-size: 13px;
    color: #677279;
}

.text-right {
    font-size: 13px;
    text-align: right;
    color: #677279;
}

.table-total a.button {
    width: 95%;
    margin-top: 2rem;
    display: block;
    padding: 18px 0;
    border-radius: 1px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    border: 1px solid #fff;
    color: var(--white-color);
    cursor: pointer;
    background-color: #0975f5;
    box-shadow: inset 0 0 0 0 #0975f5;
    transition: ease-in-out 0.5s;
}

.table-total a.button.dark {
    float: left;
}

.table-total a.button.drakpay {
    float: right;
}

.table-total a.button:hover {
    box-shadow: inset 210px 0 0 0 var(--white-color);
    color: var(--black-color);
    border: 1px solid #0975f5;
}

.empty_cart-mini {
    text-align: center;
    margin: 0rem auto;
}

.empty_cart-mini svg:not(.img) {
    width: 50px;
    height: 50px;
    right: auto;
    left: auto;
    position: relative;
}

.empty_cart-mini p {
    color: #677279;
    margin-bottom: 2rem;
}


/* cart mini header end */

header .header__bot .header__bot-container .header__bot-list .header__bot-item .arrow-down-list {
    color: var(--text-color);
    margin-left: 8px;
    display: inline-flex;
    font-size: 10px;
}

.header__mid-cart-iconnumber .cart-icon-number {
    position: relative;
}

.header__mid-cart-iconnumber .cart-icon-number .number-oncart {
    position: absolute;
    top: -12px;
    background-color: var(--main-color);
    right: 0;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: var(--white-color);
    border-radius: 50%;
    font-weight: bolder;
}

header .header__bot {
    width: 100%;
}

header .header__bot .header__bot-container {
    width: 75%;
    margin: 0 auto;
}

header .header__bot .header__bot-container .header__bot-list {
    list-style-type: none;
    display: flex;
}

.header__bot-container .header__bot-list .header__bot-item {
    padding: 15px 42px 15px 0;
    position: relative;
}

.header__bot-list .header__bot-item .header__bot-item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 700;
}

.header__bot-list .header__bot-item .header__bot-item-link:hover {
    color: #ADC1F0;
}

header .header__bot .header__bot-container .header__bot-list .header__bot-item-link:hover .arrow-down-list {
    color: #ADC1F0;
    transform: rotate(180deg);
    transition: linear 0.1s;
}

.input-search-rpsive {
    display: none;
}


/* submenu */

.header__bot-list .header__bot-item .header__bot-list-sub {
    min-width: 182px;
    list-style: none;
    min-height: 100px;
    margin-top: 15px;
    visibility: hidden;
    position: absolute;
    background-color: var(--white-color);
    opacity: 0;
    z-index: 10;
}

.header__bot-item .header__bot-list-sub .header__bot-list-sub-item a {
    text-decoration: none;
    color: #8E8E8E;
    font-size: 14px;
    display: block;
    border-bottom: 1px solid #EAEAEA;
    line-height: 36px;
    margin-left: 2rem;
}

.header__bot-list li.header__bot-item:hover .header__bot-list-sub {
    visibility: visible;
    transition: ease-in 0.5s;
    opacity: 1;
    animation: slowShow linear 0.4s;
    -webkit-animation: slowShow linear 0.4s;
}

.header__bot-item .header__bot-list-sub li a:hover .arrow-down-list {
    transform: rotate(180deg);
}

.header__bot-item .header__bot-list-sub li a:hover {
    color: #ADC1F0;
}

@keyframes slowShow {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(0%);
    }
}

.container {
    background-color: #F3F5F6;
}


/* slide start */

.body-slide {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: white;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.slides {
    width: 1000%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 10%;
    transition: 1s;
}

.slide img {
    width: 100%;
}


/*css slide navigation*/

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -34px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 1px solid var(--main-color);
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px
}

.manual-btn:hover {
    background: var(--main-color)
}

#radio1:checked~.first {
    margin-left: 0
}

#radio2:checked~.first {
    margin-left: -10%
}

#radio3:checked~.first {
    margin-left: -20%
}


/*css for automatic navigation*/

.navigation-auto {
    position: absolute;
    width: 100%;
    bottom: 18px;
    display: flex;
    justify-content: center;
}

.navigation-auto div {
    border: 1px solid var(--main-color);
    padding: 7px;
    border-radius: 10px;
    transition: 1s;
    background: white;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: var(--main-color);
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: var(--main-color);
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: var(--main-color);
}

.body-slide .slider .slides .btn-img {
    font-size: 30px;
}

.body-slide .slider .slides i.btn-img-left {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 8px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    background-color: #FFFFFF;
    border-radius: 2px;
}

.body-slide .slider .slides i.btn-img-right {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 8px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    background-color: #FFFFFF;
    border-radius: 2px;
}

.body-slide .slider .slides .main-btnimg .btn-img {
    display: none;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.body-slide .slider .slides:hover .btn-img-right {
    display: block;
    animation: leftright ease 0.5s;
}

.body-slide .slider .slides:hover .btn-img-left {
    display: block;
    animation: rightleft ease 0.5s;
}

@keyframes leftright {
    from {
        transform: translateX(30%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes rightleft {
    from {
        transform: translateX(-30%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.body-slide .slider .slides .main-btnimg .btn-img:hover {
    background-color: black;
    color: white;
    transition: 0.2s ease-in;
}

#radio1:checked~.btn-img-right {
    margin-left: 0
}

#radio2:checked~.btn-img-right {
    margin-left: -10%
}

#radio3:checked~.btn-img-right {
    margin-left: -20%
}


/* slide end */


/* body banner home */

.container__body {
    width: 75%;
    margin: 0 auto;
}

.body__banner-home {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.body__banner-home .body__banner-home-link {
    width: 30%;
}

.body__banner-home a img {
    width: 100%;
}


/* group title home */

.container__body .body__group-title-home {
    text-align: center;
    margin: 25px 0;
}

.container__body .body__group-title-home a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--main-color);
}

.container__body .body__group-title-home a h2 {
    margin-bottom: 2rem;
}

.container__body .body__group-title-home p {
    color: #8E8E8E;
    font-size: 1.5rem;
}


/* body product list */

.container__body .body__product-list {
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.container__body .allproducts {
    margin-top: 3rem;
}

.box-detail {
    position: fixed;
    width: 50%;
    z-index: 100;
    top: 10%;
    right: 25%;
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    background-color: var(--white-color);
    border-radius: 0.3rem;
    visibility: hidden;
}

.close-box-detail {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close-box-detail:hover {
    background-color: #666666;
    color: white;
}

.close-box-detail i {
    font-size: 3rem;
}

.link-de {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.link-de a {
    font-size: 1.5rem;
    color: gray;
    font-weight: bolder;
}

.link-de a:hover {
    color: var(--main-color);
}

.box-detail .box-detail-img {
    width: 40%;
}

.main-imgBD {
    overflow: hidden;
    width: 111%;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.slide-imgDB {
    cursor: pointer;
}

.img-row {
    width: 45%;
}

.slide-imgDB {
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-imgDB .content-slideImg {
    padding: 0.5rem 0;
}

.slide-imgDB img {
    width: 80%;
}

.box-detail .box-detail-text {
    width: 50%;
}

.iconImg-hover {
    padding-top: 1rem;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.borderActive {
    border: 1px solid var(--main-color);
}

.iconImg-hover img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.box-detail .box-detail-text h2 {
    color: var(--main-color);
    font-size: 2rem;
    padding: 1rem 0;
    border-bottom: 1px solid black;
}

.box-detail .box-detail-text span {
    color: red;
    font-size: 1.7rem;
    font-weight: bold;
    display: block;
    padding: 1.5rem 0;
    padding-bottom: 2rem;
}

.body__product-list-content {
    width: 20%;
    border: 1px solid #EAEAEA;
    padding-bottom: 1rem;
}

.product-list-content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    position: relative;
}

.product-list-content-img img {
    width: 92%;
}

.product-list-content-img img:nth-child(2) {
    display: none;
}

.product-list-content-img img:nth-child(3) {
    display: none;
}

.product-list-content-img img:nth-child(4) {
    display: none;
}


/* search center */

.search-center {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 44%;
    right: 44%;
    border-radius: 50%;
    background-color: var(--white-color);
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
}

.search-center a {
    display: block;
    line-height: 50px;
    transform: translate(2%, 13%);
}

.search-center a i {
    font-size: 2.5rem;
    color: var(--black-color);
}

.search-center:hover {
    background-color: var(--black-color);
}

.search-center:hover .fa-search-plus {
    color: var(--white-color);
}

.product-list-content-img:hover .search-center {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity ease .5s, transform ease .5s;
}

.body__product-list-content .product-list-content-text {
    padding-left: 10%;
    margin-top: 1rem;
}

.body__product-list-content .product-list-content-text a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

.body__product-list-content .product-list-content-text a:hover {
    color: var(--main-color);
}

.body__product-list-content .product-list-content-text p:nth-child(2) {
    color: red;
    margin-top: 0.5rem;
    font-size: 1.4rem;
}

.container__body .body__banner-center {
    width: 100%;
    margin-top: 40px;
}

.container__body .body__banner-center .body__banner-center-imgview {
    display: flex;
    justify-content: space-between;
}

.body__banner-center-imgview .body__banner-center-imgview-left {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body__banner-center-imgview .body__banner-center-imgview-left img {
    width: 100%;
}

.body__banner-center-imgview .body__banner-center-imgview-right {
    width: 49%;
}

.body__banner-center-imgview .body__banner-center-imgview-right img {
    width: 100%;
}

.container__body .body__banner-collectioni4 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.container__body .body__banner-collectioni4 .body__banner-collection-img {
    width: 23.5%;
    position: relative;
}

.container__body .body__banner-collectioni4 a img {
    width: 100%;
}

.body__banner-collection-img .collection-group {
    position: absolute;
    bottom: 8%;
    left: 8%;
    width: 154px;
    height: 70px;
    background-color: white;
    padding: 16px;
}

.collection-group a {
    text-decoration: none;
}

.collection-group h4 {
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 6px;
}

.collection-group p {
    font-size: 1.4rem;
    font-weight: bolder;
}


/* collection product 2 */

.container__body .body__collection-slide {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.body__collection-slide .body__collect-content {
    width: 25%;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 1rem;
}

.body__collect-content .body__collect-img {
    margin-right: 2rem;
}

.body__collect-img a:nth-child(2) {
    display: none;
}

.body__collect-content .body__collect-i4 {
    margin-top: 1rem;
}

.body__collect-content .body__collect-i4 a {
    text-decoration: none;
}

.body__collect-content .body__collect-i4 a p:nth-child(1) {
    color: var(--text-color);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.body__collect-content .body__collect-i4 a p:nth-child(1):hover {
    color: var(--main-color);
}

.body__collect-content .body__collect-i4 p:nth-child(2) {
    color: red;
    font-size: 1.3rem;
}


/* news */

.container__body .body__news {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.body__news .body__news-content {
    width: 32%;
}

.body__news .body__news-content img {
    width: 100%;
}

.body__news .body__news-content-i4 {
    margin-top: 2rem;
}

.body__news .body__news-content-i4 h3 {
    color: var(--main-color);
    margin-bottom: 2rem;
}

.body__news .body__news-content-i4 a {
    color: #8E8E8E;
    font-size: 1.6rem;
}


/* input email */

.body__group-title-home .input-email {
    margin: 1rem auto;
    width: 35%;
    display: flex;
    justify-content: center;
}

.body__group-title-home .input-email input {
    width: 100%;
    padding: 1.5rem;
    outline: none;
    border: 1px solid #EAEAEA;
    background-color: var(--white-color);
    font-size: 1.4rem;
}

.body__group-title-home .input-email input::placeholder {
    color: #8E8E8E;
}

.body__group-title-home .input-email button {
    width: 100px;
    margin-left: 1rem;
    padding: 1.5rem;
    border: 1px solid #EAEAEA;
    outline: none;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 1.4rem;
}


/* footer */

.footer {
    width: 70%;
    margin: 0 auto;
}

.footer .footer__top {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}

.footer .footer__top .footer__top-content {
    display: flex;
}

.footer__top-content .footer__top-icon {
    display: flex;
    align-items: center;
}

.footer__top-content .footer__top-text {
    font-size: 1.4rem;
    margin-left: 2rem;
}

.footer__top-content .footer__top-text p:first-child {
    color: var(--main-color);
    margin-bottom: 1rem;
}

.footer__bot {
    width: 75%;
    padding: 4rem 0;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.footer__bot .footer__bot-content h4 {
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 2rem;
    font-weight: 400;
}

.footer__bot .footer__bot-content p {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.footer__bot .footer__bot-content.ftb1 {
    flex: 2;
}

.footer__bot .footer__bot-content.ftb2 {
    flex: 1;
}

.footer__bot .footer__bot-content.ftb2 ul {
    list-style-type: none;
}

.footer__bot .footer__bot-content.ftb3 {
    flex: 1;
}

.footer__bot .footer__bot-content.ftb3 p i {
    margin-right: 1rem;
}

hr {
    opacity: 0.2;
}

.nocopy {
    text-align: center;
    background-color: #F3F5F6;
    font-size: 1.4rem;
    padding: 2rem 0;
    color: #8E8E8E;
}


/* detail */

.container .detail__main {
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #F3F5F6;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.detail__main img {
    width: 100%;
}

.detail__main img.img-row {
    width: 45%;
}

.container .detail__img {
    width: 49%;
    background-color: var(--white-color);
    border: 1px solid #EAEAEA;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.detail__img .detail__img-left {
    width: 12%;
}

.detail__img .detail__img-right {
    width: 86%;
}

.container .detail__info {
    width: 49%;
    background-color: var(--white-color);
    border: 1px solid #EAEAEA;
    padding: 1rem 2rem;
}

.detail__info .quantity-price-detail {
    width: 100%;
    display: flex;
}

.detail__info .quantity-price-detail span:nth-child(2) {
    padding-left: 4rem;
    font-size: 1.5rem;
    color: #677279;
}

.detail__info h1 {
    color: var(--main-color);
    font-size: 2rem;
}

.detail__info span {
    color: red;
    display: block;
    opacity: 0.92;
    font-weight: bold;
    margin: 2rem 0;
    font-size: 1.8rem;
}

.btn-cart,
.button-addcart {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.detail__info .btn-cart .input-cart input,
.button-addcart .input-cart input {
    height: 49px;
    font-size: 2rem;
    outline: none;
    font-weight: 600;
}

.btn-cart .input-cart input:nth-child(1),
.button-addcart .input-cart input:nth-child(1) {
    width: 140px;
    text-align: center;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    background-color: var(--white-color);
    float: left;
}

.addCartForm {
    display: flex;
}

.detail__info .btn-cart .input-btn button {
    width: 500px;
    height: 49px;
    font-size: 1.2rem;
    color: white;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #e1e1e1;
    background-color: var(--main-color);
}


/* erorr input quantity */

#cart-quantity-error {
    position: absolute;
    font-size: 2rem;
    top: 273px;
    right: 541px;
    font-weight: bold;
    animation: showkeyadmin ease .2s;
}

.button-addcart .input-btn button {
    width: 300px;
    height: 49px;
    font-size: 1.2rem;
    color: white;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #e1e1e1;
    background-color: var(--main-color);
}

.detail__derc {
    margin-top: 4rem;
}

.detail__derc .ul-top {
    list-style-type: none;
    display: flex;
    padding-bottom: 0.8rem;
}

.detail__derc .ul-top li {
    margin-right: 4rem;
    position: relative;
}

.detail__derc .ul-top li a:focus {
    color: #666666;
}

.detail__derc .ul-top li a {
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
}

.detail__img-right {
    overflow: hidden;
}

#detail-slideimg {
    display: flex;
    width: 200%;
}

#imgSlide1:hover,
#imgSlide2:hover,
#imgSlide3:hover,
#imgSlide4:hover,
#imgSlide5:hover,
#imgSlide6:hover,
#imgSlide7:hover {
    cursor: pointer;
}

.content__derc {
    margin-top: 2rem;
}

.content__derc .mota {
    font-size: 1.4rem;
    margin: 0 0 10px;
    color: #666666;
    font-family: Roboto, sans-serif;
    line-height: 2rem;
    word-break: break-all;
}

.content__derc ul {
    list-style-type: none;
}

.content__derc p {
    font-size: 1.4rem;
    margin: 0 0 10px;
    color: #666666;
}

.content__derc ul li {
    font-size: 1.4rem;
    margin: 0 0 10px;
    color: #666666;
}

#active2 ul li .way-derc {
    border-bottom: 1px solid black;
    font-weight: bolder;
}

.content__derc#active2,
.content__derc#active3 {
    display: none;
}

.content__derc#acitve1 {
    display: block;
}

input#cart-quantity::-webkit-outer-spin-button,
input#cart-quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Contact page */

.container__body .body__contact {
    display: flex;
    justify-content: space-between;
}

.container__body .body__contact .body__contact-left {
    width: 49%;
}

.body__contact-left .map {
    width: 100%;
    height: 100%
}

.container__body .body__contact .body__contact-right {
    width: 49%;
    padding: 0 2rem;
    padding-bottom: 4rem;
    border: 1px solid #AEAEAE;
    background-color: var(--white-color);
    margin: 2rem 0;
}

.body__contact-right .text-contract {
    width: 100%;
}

.text-contact h1 {
    color: #0975f5;
    font-size: 2.8rem;
    position: relative;
}

.text-contact h1::after {
    position: absolute;
    top: 43px;
    left: 0;
    content: "";
    height: 3px;
    width: 47px;
    background-color: #252A2B;
}

.body__contact-right .infor-contact {
    margin-top: 6rem;
}

.body__contact-right .infor-contact p {
    font-size: 1.4rem;
    color: #666666;
    line-height: 2rem;
}

.body__contact-right .infor-contact strong {
    font-size: 1.4rem;
    display: block;
    line-height: 2rem;
    margin-bottom: 3rem;
    color: #666666;
}

.body__contact-right .box-send-contact {
    margin-top: 5rem;
}

.box-send-contact input {
    width: 100%;
    padding: 0 2rem;
    height: 4.5rem;
    line-height: 5rem;
    margin: 1.5rem 0;
    border: 1px solid #AEAEAE;
    outline: none;
    font-size: 1.4rem;
}

.box-send-contact .box-mid-send {
    display: flex;
    justify-content: space-between;
}

.box-send-contact .box-mid-send input {
    width: 48%;
}

.box-send-contact textarea {
    width: 100%;
    height: 130px;
    padding: 20px 20px;
    font-size: 1.4rem;
    outline: none;
    border: 1px solid #AEAEAE;
}

.box-send-contact p:last-child {
    margin: 2rem 0;
}

.box-send-contact p:last-child a {
    text-decoration: none;
    color: #0975f5;
}

.box-send-contact .btnsend {
    color: #fff;
    border: none;
    outline: none;
    height: 55px;
    line-height: 55px;
    padding: 0 30px;
    border-radius: 2px;
    background-color: #0975f5;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-top: 2rem;
}


/* reconmend page */

.container__body .fol {
    padding: 1.2rem 0;
    background-color: #F3F5F6;
    color: #666666;
}

.fol span {
    font-size: 1.3rem;
}

.container__body .body__recommend {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.body__recommend .recommend-left {
    width: 75%;
    padding: 2rem;
    border: 1px solid #AEAEAE;
    background-color: var(--white-color);
}

.body__recommend .recommend-left h1 {
    color: var(--main-color);
    font-size: 2.5rem;
}

.body__recommend .recommend-left p {
    font-size: 1.4rem;
    color: #666666;
    padding: 1rem 0;
}

.body__recommend .recommend-left ul {
    padding: 0 4rem;
}

.body__recommend .recommend-left ul li {
    font-size: 1.4rem;
    color: #666666;
    line-height: 2rem;
}

.body__recommend .recommend-right {
    width: 23%;
    padding: 0 2rem;
    border: 1px solid #AEAEAE;
    background-color: var(--white-color);
}

.recommend-right h1 {
    text-align: center;
    color: var(--main-color);
    position: relative;
}

.recommend-right h1::after {
    content: "";
    position: absolute;
    top: 3.3rem;
    left: 1.6rem;
    width: 90%;
    height: 5px;
    background-color: var(--black-color);
}

.recommend-right ul {
    list-style-type: none;
    margin-top: 6rem;
}

.recommend-right ul li {
    font-size: 1.4rem;
    color: #666666;
    line-height: 4rem;
    border-bottom: 1px dashed #666666;
}

.recommend-rightB {
    width: 100%;
    margin: 2rem 0;
}

.recommend-rightB img {
    width: 100%;
}


/* checkout form */

.message_action {
    padding: 2rem 0;
    color: #28A745;
    font-weight: bold;
    visibility: hidden;
}

.message_action.show {
    visibility: visible;
}

#checkoutForm label {
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 2rem;
}

#checkoutForm textarea {
    outline: none;
    font-size: 1.5rem;
}

#checkoutForm .form__input-checkout {
    width: 100%;
}

#checkoutForm .btn_checkout {
    margin-top: 1rem;
    padding: 1.6rem 3rem;
    font-size: 1.6rem;
    outline: none;
    border-radius: 2px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    cursor: pointer
}

.form__input-checkout input {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    outline: none;
}

.form__input-checkout input:focus {
    border: 2px solid var(--main-color);
}

.form__input-checkout textarea:focus {
    border: 2px solid var(--main-color);
}

.purchase_btnLast {
    background: rgb(255, 66, 78);
    color: rgb(255, 255, 255);
    padding: 1.3rem 1rem;
    text-align: center;
    border-radius: 4px;
    border: none;
    width: 100%;
    display: block;
    margin: 1.5rem 0px;
    cursor: pointer;
    font-size: 1.4rem;
}


/* PC */

@media only screen and (min-width: 1200px) and (max-width: 1722px) {
    header .header__mid {
        width: 90%;
    }
    header .header__mid .header__mid-left {
        width: 55%;
    }
    header .header__mid .header__mid-right {
        width: 45%;
    }
    .header__mid-left .header__mid-left-name {
        width: 40%;
    }
    .header__mid-left-search .header__mid-left-iconinput {
        width: 100%;
    }
    .header__mid-left .header__mid-left-search {
        width: 90%;
        padding: 0 2rem;
    }
    header .header__bot .header__bot-container {
        width: 90%;
        margin: 0 auto;
    }
    .container__body {
        width: 90%;
    }
    .registerForm {
        width: 35%;
    }
}


/* Tablet */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    header .header__mid {
        width: 96%;
    }
    header .header__mid .header__mid-left {
        width: 55%;
    }
    header .header__mid .header__mid-right {
        width: 45%;
    }
    .header__mid-left .header__mid-left-name {
        width: 35%;
    }
    .header__mid-left-search .header__mid-left-iconinput {
        width: 100%;
    }
    header .header__bot .header__bot-container {
        width: 96%;
        margin: 0 auto;
    }
    .container__body {
        width: 96%;
    }
    .header__bot-container .header__bot-list .header__bot-item {
        padding: 15px 32px 15px 0;
        position: relative;
    }
    .header__mid-left .header__mid-left-name .header__mid-left-link {
        font-size: 2.6rem;
    }
    .registerForm {
        width: 45%;
    }
}

@media only screen and (max-width: 991px) {
    .container__body {
        width: 96%;
    }
    .header__bot {
        display: none;
    }
    .header__mid-left .header__mid-left-search {
        display: none;
    }
    .header__mid-right .header__mid-right-hotline {
        display: none;
    }
    .header__mid_right-text {
        display: none;
    }
    header .header__mid {
        width: 100%;
    }
    header .header__mid .header__mid-right {
        width: 15%;
    }
    header .header__mid .header__mid-left {
        width: 60%;
        text-align: end;
    }
    .header__mid-left .header__mid-left-name {
        width: 65%;
        font-weight: 700;
    }
    .bars {
        width: 20%;
        font-size: 3rem;
        display: flex;
        align-items: center;
        padding-left: 2rem;
        font-weight: 400;
        position: relative;
    }
    @keyframes fade {
        from {
            transform: translateX(-100%);
            opacity: 0;
        }
        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }
    .hello:checked~.navbar-rpsive {
        display: block;
        color: red;
        animation: fade linear 0.3s;
    }
    .navbar-rpsive {
        position: absolute;
        top: 100px;
        right: 0;
        background-color: var(--white-color);
        z-index: 2;
        width: 100%;
        border: 1px solid #EAEAEA;
        display: none;
    }
    .navbar-rpsive ul {
        list-style: none;
        padding: 1rem 2rem;
    }
    .navbar-rpsive ul li {
        padding: 2rem 2rem;
        border-bottom: 1px solid #EAEAEA;
    }
    .navbar-rpsive ul li a {
        text-decoration: none;
        color: var(--text-color);
        font-weight: 700;
        font-size: 1.4rem;
    }
    .input-search-rpsive {
        width: 100%;
        display: flex;
        position: relative;
    }
    .input-search-rpsive input {
        width: 96%;
        font-size: 1.4rem;
        margin: 0 auto;
        padding: 1rem;
        outline: none;
        border: 1px solid #EAEAEA;
        background-color: #f0eeee;
        border-radius: 2px;
    }
    .input-search-rpsive input:focus {
        border: 1px solid var(--main-color);
        background-color: var(--white-color);
    }
    .input-search-rpsive .icon-search-rpsive {
        position: absolute;
        top: 0;
        right: 9px;
        width: 50px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .input-search-rpsive .icon-search-rpsive i {
        font-size: 1.6rem;
        color: #8E8E8E;
    }
    .container__body .body__product-list .body__product-list-content {
        width: 33%;
    }
    .container__body .body__banner-collectioni4 {
        flex-wrap: wrap;
    }
    .container__body .body__banner-collectioni4 .body__banner-collection-img {
        width: 49%;
    }
    .body__collection-slide .body__collect-content {
        width: 50%;
    }
    .body__group-title-home .input-email {
        width: 70%;
    }
    .footer {
        width: 95%;
    }
    .footer .footer__top .footer__top-content {
        display: block;
    }
    .footer__top-content .footer__top-icon {
        justify-content: center;
        width: 100%;
        margin-bottom: 1rem;
    }
    .footer__top-content .footer__top-text p:first-child {
        margin-bottom: 0;
        text-align: center;
    }
    .footer__bot {
        width: 95%;
        display: block;
        overflow: hidden;
    }
    .footer__bot .footer__bot-content.ftb1 {
        width: 49%;
        float: left;
        margin-right: 5rem;
        margin-bottom: 5rem;
    }
    .footer__bot .footer__bot-content.ftb2 {
        width: 40%;
        float: left;
    }
    .footer__bot .footer__bot-content.ftb3 {
        width: 50%;
        float: left;
    }
    .container .detail__main {
        width: 100%;
        flex-wrap: wrap;
    }
    .container .detail__img {
        width: 100%;
    }
    .detail__img .detail__img-right {
        width: 80%;
    }
    #detail-slideimg {
        width: 200%;
    }
    #detail-slideimg img {
        width: 100%;
        height: 100%;
    }
    .container .detail__info {
        width: 100%;
    }
    .input-cart {
        border: 3px solid black;
    }
    .btn-cart .input-cart input:nth-child(1) {
        width: 64px;
        font-size: 5rem;
        height: 100%;
        border: none;
    }
    .btn-cart .input-cart input:nth-child(2) {
        width: 140px;
        height: 100%;
        font-size: 4rem;
    }
    .btn-cart .input-cart input:nth-child(3) {
        width: 64px;
        height: 100%;
        border: none;
        font-size: 5rem;
    }
    .detail__info .btn-cart .input-btn button {
        height: 100%;
    }
    .btn-cart {
        height: 80px;
    }
    .registerForm {
        width: 70%;
    }
}

@media only screen and (max-width: 680px) {
    .container__body .body__product-list .body__product-list-content {
        width: 50%;
    }
}